body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

.fx-container {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100px;


}

.top-banner {
    background-image: url(images/donation12.png);
    margin: 0;
}

#only {
    font-size: 40px;
}

.link-button {
    text-decoration: none;
    color: white;
    background-color: tomato;
    border-radius: 5px;
    padding: 10px;
}




.fx-item {
    margin-top: 50px;

}

.fx-item input[type=number] {
    border: none;
    border-bottom: 2px solid red;
    width: 600px;
    text-align: center;
    font-size: 20px;
}

.side-item {
    font-size: 25px;
    padding: 15px;
    color: gray;

}

.small-container {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px;
}

.side-by-side {
    display: flex;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

.side-by-side-item {
    margin: 8px;
    padding: 10px;
    border-radius: 8px;
}

#bg-blue {
    background-color: rgb(125, 125, 192);
}

#bg-red {
    background-color: rgb(187, 100, 100);
}

#bg-green {
    background-color: rgb(87, 165, 87);
}